
body{
    background-color: #f0f0f0;
    justify-content: center;
    font-family: monospace;
}

a 
{ 
 text-decoration:none; 
 color: black;
} 

#icone{
  vertical-align:middle;
  margin-left: 20px;
  float: left;
	width: 50px;
	height: 50px;
	max-width: 70%;
}

#h1{
  float: left;
  text-align: center;
  font-size : 50px;
 }
#corps{
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: auto;
  margin-top : 50px;
  margin-bottom : 50px;
  width: 260px;
  border-radius: 1rem;
}

#corps h2{
  text-align: left;
  margin-left: 20px;
  font-size : 20px;
  padding-top: 20px;
  padding-bottom: 0px;
}

#corps img{
    justify-content: center;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  .champs, #tmp{
    text-align: left;
    font-size : 14px;
    margin-left :20px;
    margin-top : 20px;
    padding: 2px 2px 2px;
  
  }

 #valider{
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 80px;
    color: #548235;
    background-color: #C5E0B4;
    border-radius: 5px;
    background-repeat: no-repeat;  
  }

  #inscription{
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 80px;
    color: #548235;
    background-color: #C5E0B4;
    border-radius: 5px;
    background-repeat: no-repeat;
  }