
body{
    background-color: #f0f0f0;
    justify-content: center;
    font-family: monospace;
}

a:link 
{ 
 text-decoration:none; 
} 

#corps{
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top : 50px;
  margin-bottom : 50px;
  width: 1000px;
  border-radius: 1rem;

}

#corps h1{
  text-align: center;
  font-size : 40px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#corps h2{
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: #C5E0B4;
  color: #548235;
  text-align: center;
  font-size : 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left :80px;
  margin-right :80px;
  margin-top : 20px;
  padding: 2px 2px 2px;
}

#corps img{
  justify-content: center;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.champs, #tmp{
  text-align: left;
  font-size : 20px;
  margin-left :80px;
  margin-top : 20px;
  padding: 2px 2px 2px;

}

.etoile{
  color : #548235;
}
/*
 #valider{
  padding: 5px;
  margin-bottom: 10px;
  color: #548235;
  background-color: #C5E0B4;
  border-radius: 5px;
  background-repeat: no-repeat;  
}

#reinitialiser{

  padding: 5px;
  margin-left : 820px;
  margin-bottom: 10px;  
  margin-right : 10px;
  color: #548235;
  background-color: #C5E0B4;
  border-radius: 5px;
  background-repeat: no-repeat;
}
*/